
/* Your CSS Code here. */
table, tr, td, th{
	border : 2px solid black;
	border-collapse : collapse;
	width : 100vh;
	text-align : center
    	
}
th, td {
	padding : 8px 12px;
	 background-color: #f0f0f0;
}